@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.controller {
  background-color: #3c63fc;
  border-radius: 12px;
  border: none;
  padding: 3rem 4rem;

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    button {
      background-color: #00cdb1;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 12px;
      cursor: pointer;
    }

    i {
      color: white;
      font-weight: bolder;
    }
  }

  &__data {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  &__slider {
    width: 100%;
  }

  input[type='range']::-moz-range-progress {
    background-color: green;
    height: 1em;
  }
  // disable arrows for input type number
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
